.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .counter-container {
    margin-bottom: 20px;
  }
  
  .counter-label {
    font-size: 24px;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .click-counter {
    background-color: #96df22; 
    padding: 10px; 
    border-radius: 5px;
}
  /* You can add more styling as needed */
  